[comanage_database]

host=localhost
database=db_name
user=db_user
password=db_password

[proxystatistics_database]

host=localhost
database=db_name
user=db_user
password=db_password

[destination_database]

host=localhost
database=db_name
user=db_user
password=db_password

[metric_users_memberships_in_cous]

name = users_memberships_in_cous
regex_cou_name =
co_id =

[logging]

level = INFO
folder = log
file = exportStats.log