[comanage_database]

host=localhost
database=db_name
user=db_user
password=db_password

[proxystatistics_database]

host=localhost
database=db_name
user=db_user
password=db_password

[destination_database]

host=localhost
database=db_name
user=db_user
password=db_password

[logging]

level = INFO
folder = log
file = exportStats.log